<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            {% for kura in posts %}
                <div>
                    <p>published: {{ kura.published_date }}</p>
                    <h1><a href="">{{ kura.title }}</a></h1>
                    <p>{{ kura.text|linebreaksbr }}</p>
                 </div>
            {% endfor %}


        </div>
    </body>
</html>